.contactform {
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
}

.contactStats {
    margin: 0 auto;
    /* text-align: center; */
}

input {
    padding: 5px;
    margin: 10px;
}

.button {
    border: 1px dashed black;
    background-color: white;
    font-family:  'Amatic SC', cursive;
    font-size: 1rem;
}

.button:hover {
    background-color: lightcoral;
}

.formbox {
    width: 80%;
}

.message {
    height: 125px;
    width: 80%;
    word-wrap: normal;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}

.response {
    font-size: .8rem;
    display: none;
}